<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <dict>
                <key>isExpandable</key>
                <true/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string></string>
                <key>secondaryTitle</key>
                <string>Gender</string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>2</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Male</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Female</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <true/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string></string>
                <key>secondaryTitle</key>
                <string>Favorite Color</string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>3</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Blue</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Red</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Green</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <true/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <true/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string></string>
                <key>secondaryTitle</key>
                <string>Marital Status</string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>3</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Single</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Married</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
            <dict>
                <key>isExpandable</key>
                <false/>
                <key>isExpanded</key>
                <false/>
                <key>isVisible</key>
                <false/>
                <key>value</key>
                <string></string>
                <key>primaryTitle</key>
                <string>Divoreced</string>
                <key>secondaryTitle</key>
                <string></string>
                <key>cellIdentifier</key>
                <string>idCellNormal</string>
                <key>additionalRows</key>
                <integer>0</integer>
            </dict>
        </array>
    </array>
</plist>
